<!-- <div class="menu-bar">
     <h1 class="logo">Light<span>Code.</span></h1>
    <ul>
      <li><a href="#">Buy Car<i class="fas fa-caret-down"></i></a>
          <div class="dropdown-menu">
              <ul>
                <li><a>Maruti</a></li>
                <li><a>Toyata</a></li>
              </ul>
            </div>
      </li>
    </ul>
</div> -->
<div class="car-list">
    <div class="car-card">
      <p><img src="https://fastly-production.24c.in/hello-ar/dev/uploads/09f77115-673b-4a54-af44-9d908c16c99f/a68ff2a3-c854-418a-a6db-41457ed7bf10/43.jpg?w=700&h=403&auto=format">
      <span class="offer-label"><i class="fa fa-check-circle" aria-hidden="true"></i>
        10% OFF</span></p>
      <h3 class="car-name">Maruti Vitara Brezza</h3>
      <div class="car-rating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
    </div>
      <p class="car-rate">₹11,613/month</p>
      <p> <i class="fa fa-home" aria-hidden="true"></i> Home Test Drive Available</p>
      <button class="button" routerLink="../payment">Book</button>
    </div>
    
    <div class="car-card">
      <p><img src="https://fastly-production.24c.in/hello-ar/dev/uploads/a12d2b50-dfc6-4945-bec6-e129ec145112/17b26d70-ad18-45fd-954b-4c00945147c7/44.jpg?w=700&h=403&auto=format" alt="Car 2">
      <span class="offer-label"><i class="fa fa-check-circle" aria-hidden="true"></i>
        20% OFF</span></p>
      <h3 class="car-name">Toyota YARIS</h3>
      <div class="car-rating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
    </div>
      <p class="car-rate">₹15,494/month</p>
      <p> <i class="fa fa-home" aria-hidden="true"></i> Home Test Drive Available</p>
      <button class="button" routerLink="../payment">Book</button>
    </div>
    
    <div class="car-card">
      <p><img src="https://fastly-production.24c.in/hello-ar/dev/uploads/915b9c56-7ab0-4ba4-86ff-e370661c9207/d433bafe-707a-4cba-945d-a2165c7d82da/42.jpg?w=700&h=403&auto=format" alt="Car 3">
      <span class="offer-label"><i class="fa fa-check-circle" aria-hidden="true"></i>
        20% OFF</span></p>
      <h3 class="car-name">Maruti Baleno</h3>
      <div class="car-rating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
    </div>
      <p class="car-rate">₹17,188/month</p>
      <p> <i class="fa fa-home" aria-hidden="true"></i> Home Test Drive Available</p>
      <button class="button" routerLink="../payment">Book</button>
    </div>
    <div class="car-card">
       <p><img src="https://fastly-production.24c.in/hello-ar/dev/uploads/142c0838-cd58-407f-bd5c-14cb69f170dd/8f5c4fae-75cd-446d-b357-9c108850a2ea/44.jpg?w=700&h=403&auto=format" alt="Car 3">
        <span class="offer-label"><i class="fa fa-check-circle" aria-hidden="true"></i>
          15% OFF</span></p>
        <h3 class="car-name">Tata Hexa</h3>
        <div class="car-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked "></span>
          <span class="fa fa-star checked"></span>
      </div>
        <p class="car-rate">₹17,283/month</p>
        <p> <i class="fa fa-home" aria-hidden="true"></i> Home Test Drive Available</p>
        <button class="button" routerLink="../payment">Book</button>
      </div>
      <div class="car-card">
        <p><img src="https://fastly-production.24c.in/hello-ar/dev/uploads/e05116e8-6c5f-48da-b520-39aa76022f18/d41b0c0b-04c3-4b38-8950-8660d76a510b/44.jpg?w=700&h=403&auto=format" alt="Car 3">
        <span class="offer-label"><i class="fa fa-check-circle" aria-hidden="true"></i>
          15% OFF</span></p>
        <h3 class="car-name">Mahindra Bolero</h3>
        <div class="car-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
      </div>
        <p class="car-rate">₹10,850/month</p>
        <p> <i class="fa fa-home" aria-hidden="true"></i> Home Test Drive Available</p>
        <button class="button" routerLink="../payment">Book</button>
      </div>
      <div class="car-card">
        <p><img src="https://fastly-production.24c.in/hello-ar/dev/uploads/16f0ce8c-aae4-4189-b072-7f7253b031f0/35ab4b41-1591-4ea9-9f87-69f75ecc16b3/43.jpg?w=700&h=403&auto=format" alt="Car 3">
        <span class="offer-label"><i class="fa fa-check-circle" aria-hidden="true"></i>
          15% OFF</span></p>
        <h3 class="car-name"> Honda City</h3>
        <div class="car-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star"></span>
      </div>
        <p class="car-rate">₹12,629/month</p>
        <p> <i class="fa fa-home" aria-hidden="true"></i> Home Test Drive Available</p>
        <button class="button" routerLink="../payment">Book</button>
      </div>
      <div class="car-card">
        <p><img src="https://fastly-production.24c.in/hello-ar/dev/uploads/646df094bb503a01ce5471b6/0aace125-905b-4046-a6d6-e75e330f46fc/slot/10166214758-74f5e36769d940d5b4bd53df1203033f-Exterior-8.jpg?w=700&h=403&auto=format" alt="Car 3">
        <span class="offer-label"><i class="fa fa-check-circle" aria-hidden="true"></i>
          15% OFF</span></p>
        <h3 class="car-name">Renault Kwid</h3>
        <div class="car-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked "></span>
          <span class="fa fa-star checked"></span>
      </div>
        <p class="car-rate">₹9,560/month</p>
        <p> <i class="fa fa-home" aria-hidden="true"></i> Home Test Drive Available</p>
        <button class="button" routerLink="../payment">Book</button>
      </div>
      <div class="car-card">
        <p><img src="https://fastly-production.24c.in/hello-ar/dev/uploads/6454e53520f0d9d75a65756b/1fbf2370-1054-4831-b392-f200c3bd8ef8/slot/100274-2.JPG?w=700&h=403&auto=format">
        <span class="offer-label"><i class="fa fa-check-circle" aria-hidden="true"></i>
          10% OFF</span></p>
        <h3 class="car-name">Ford FREESTYLE</h3>
        <div class="car-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
      </div>
        <p class="car-rate">₹11,398/month</p>
        <p> <i class="fa fa-home" aria-hidden="true"></i> Home Test Drive Available</p>
        <button class="button" routerLink="../payment">Book</button>
      </div>
  </div>
  
