
  <div class="review-list">
    <div class="review-card">
      <div class="customer-photo">
        <img src="https://th.bing.com/th/id/OIP.hblauCF6McrJt0dR5R0clQHaHa?pid=ImgDet&rs=1" alt="Customer 1">
      </div>
      <div class="customer-info">
        <h3 class="customer-name">Pooja</h3>
        <div class="customer-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </div>
        <p class="customer-review">Great car rental experience! The vehicle was clean and in excellent condition. Highly recommended.</p>
      </div>
    </div>
    
    <div class="review-card">
      <div class="customer-photo">
        <img src="https://th.bing.com/th/id/OIP.qeffvHdSUkQYLj5YDjZRfwHaJl?pid=ImgDet&rs=1" alt="Customer 2">
      </div>
      <div class="customer-info">
        <h3 class="customer-name">Dolli</h3>
        <div class="customer-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <p class="customer-review">'Had a fantastic trip with Zoom Car. The service was prompt and the car was comfortable. Will use it again.</p>
      </div>
    </div>
    <div class="review-card">
      <div class="customer-photo">
        <img src="https://th.bing.com/th/id/OIP.PsnEXc_L9CcPfHGhHoHKewHaGn?pid=ImgDet&rs=1" alt="Customer 2">
      </div>
      <div class="customer-info">
        <h3 class="customer-name">Krishna</h3>
        <div class="customer-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
        </div>
        <p class="customer-review">Worst car rental experience ever! The vehicle was in poor condition, and the customer support was unhelpful.</p>
      </div>
    </div>
    <div class="review-card">
      <div class="customer-photo">
        <img src="https://th.bing.com/th/id/OIP.tiyoOrkMhCY_scPc3ZpGfgHaKG?pid=ImgDet&w=600&h=818&rs=1" alt="Customer 2">
      </div>
      <div class="customer-info">
        <h3 class="customer-name">preeti</h3>
        <div class="customer-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
        </div>
        <p class="customer-review">Average experience. The car had some minor issues, but overall it was decent. Could be better.</p>
      </div>
    </div>
    <div class="review-card">
      <div class="customer-photo">
        <img src="https://i.pinimg.com/originals/b9/b5/d3/b9b5d3f44851bc492b100debec3350c7.jpg" alt="Customer 2">
      </div>
      <div class="customer-info">
        <h3 class="customer-name">Gagan</h3>
        <div class="customer-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked "></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
        </div>
        <p class="customer-review">Average experience. The car had some minor issues, but overall it was decent. Could be better.</p>
      </div>
    </div>
  </div>
  