    <nav class="navbar navbar-dark bg-dark">
        
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h2>Car Rental System</h2>
    </nav>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h5 class="text-white h4" routerLink="home"> <i class="fa fa-home" aria-hidden="true"></i> Home</h5>
            <h5 class="text-white h4" routerLink="cars"><i class="fa fa-car" aria-hidden="true"></i> Car-List</h5>
            <span class="text-white h4" routerLink="review"><i class="fa fa-bar-chart" aria-hidden="true"></i> ReView</span>
          </div>
        </div>
  </div>